* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 800px;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

input {
  width: 40%;
  outline: none;
}

span {
  font-weight: bold;
}

/* input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
} */

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}
